/* font-size 16px 기준 1rem*/

:root {
  --title-xs: 1.5rem; /** 24px */
  --title-sm: 1.875rem; /** 30px */
  --title-md: 2.25rem; /** 36px */
  --title-lg: 3rem; /** 48px */
  --title-xl: 3.75rem; /** 60px */
  --title-xxl: 4.5rem; /** 72px */
  --text-xl: 1.25rem; /** 20px */
  --text-lg: 1.125rem; /** 18px */
  --text-md: 1rem; /** 16px */
  --text-sm: 0.875rem; /** 14px */
  --text-xs: 0.75rem; /** 12px */
}
